.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: relative;
    z-index: 100;
}
.header_left, .header_right {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.header_right {
    justify-content: flex-end;
}


.header_center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: auto;
}

.header_center h1 {
    font-size: 31px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: rgb(1,0,57);
    white-space: nowrap;
    overflow: hidden;   /*넘치면 잘라냄*/
    text-overflow: ellipsis;    /*말줄임표(...) 처리*/
}
.header_center h1 img{
    width: 63px;
    height: 63px;
    object-fit: contain;
}

.Header button {
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.Header button:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.Header button:active {
    transform: scale(0.95);
}

.title_wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "KBO_Gothic_Bold";
}

@media (max-width){
    .header_left, .header_right {
        width: 80px;
    }
    .header_center h1 img { width: 40px; height: 40px;}
}