

.DiaryList .menu_bar {
    display: flex;
    gap: 10px;
    margin: 20px 0px;
    align-items: center;
    justify-content: initial;
    width: 100%;
}
.DiaryList .menu_bar .diarylist_filter {
    display:flex;
    flex-direction: column;
    gap: 8px;
    width: 20%;
    justify-content: center;
    /* text-align: center; */
}

.DiaryList .menu_bar select {
    border: none;
    border-radius: 5px;
    background-color: rgb(246,246,246);
    padding: 10px;
    cursor: pointer;
    margin: 0px 10px;
    font-size: 14px;
}
.DiaryList .menu_bar .diarylist_stats{
    flex: 60%;
    min-width: 0;
    justify-items: center;
    font-size: 18px;
}

.DiaryList .menu_bar .diarylist_actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 20%;
    align-items: flex-end;
    margin-right: 5px;
    white-space: nowrap;
    box-sizing: border-box;
}

.DiaryList .menu_bar .diarylist_actions button{
    margin-right: 10px;
}