.DiaryItem {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;

}
.DiaryItem .info_section {
    flex: 1;
    border: 1px solid rgb(226,226,226);
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}
.DiaryItem .date_section {
    text-align: left;
    font-size: 13.5px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.DiaryItem .content_section{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

}

.DiaryItem .ourTeam, .DiaryItem .opponentTeam {
    display:flex;
    align-items: center;
    font-size: 16px;
}
.DiaryItem .content_section .score {
    margin: 0px 15px;
    font-size: 22px;
}

.DiaryItem .content_section img {
    width: 60px;
    height: 60px;
    margin: 0px 20px;
    object-fit: contain;
}

.DiaryItem .button_section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 80px;
    margin: 0px 10px;

}

.DiaryItem .add_info_section {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: "KBO_Gothic_light";
    margin-bottom: 5px;
}
