.Editor {
    margin: 25px;
    margin-bottom: 40px;
}

.Editor h4 {
    font-size: 22px;
}

.Editor > section > input, textarea {
    background-color: rgb(246,246,246);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    font-family: "KBO Dia Gothic_light";
}
.Editor .score_section a{
    font-size: 16px;
    background-color : rgb(1,0,57);
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.Editor .score_section .score_wrapper{
    display: flex;
    gap: 10px;
    justify-content: center; /*센터로 이동*/
    align-items: center;
}

.Editor .score_section .score_wrapper > input{
    width: 35px;
    background-color: rgb(236,236,236);
    border-radius: 5px;
    border: none;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    
}
.Editor .score_section .score_wrapper > select {
    padding: 7px 0px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(1,0,57);
    color: white;
    margin-left: 8px;
    font-size: 15px;
}


.Editor .stadium_section > select {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(246,246,246);
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
}


.Editor .food_section .food_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    margin-bottom: 8px;
}

.Editor .food_section .food_item {
    display: flex;
    align-items: center;
}

.Editor .food_section .food_item input {
    flex: 1;
    padding: 2px 3px;
    border: none;
    border-radius: 2px;
}
.food_item input:focus {
    outline: none;
    border-bottom: 1px solid;
}

.Editor .food_section .food_item .remove_btn {
    border: none;
    background-color: white;
    padding: 4px 8px;
    cursor: pointer;
}

.Editor .food_section .add_btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(1,0,57);
    color: white;
    cursor: pointer;
    font-size: 13px;
}


.Editor .content_section > textarea {
    padding: 20px;
    font-size: 13px;
    width: 100%;
    min-height: 200px;
    resize: vertical;
    box-sizing: border-box;
    font-family: "KBO_Gothic_light";
    line-height: 1.3;
    text-align: left;
}

.Editor .content_section > textarea:focus {
    outline: none;
}

.Editor .mvp_section .player_list_wrapper{
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
}



.Editor .button_section {
    display: flex;
    justify-content: space-between;
}

.playerItem.selected {
    opacity: 0.35; /*반투명효과*/
    transition: opacity 0.35s ease-in-out;
}