.playerItem {
    cursor: pointer;
    padding: 1px;
    text-align: center;
    font-size: 15px;
} 
.playerItem .player_img{
    background-color: rgb(39,43,58);
    border-radius: 5px;
    width: 150px;
    margin-bottom: 10px;
}
