.Viewer section {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: default;
}

.Viewer > section > h4 {
    font-size: 25px;
}

.Viewer .match_section .match_list_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.Viewer .match_section .match_list_wrapper .team {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    
}

.Viewer .match_section .match_list_wrapper .team > img {
    width: 80px;
}

.Viewer .match_section .match_list_wrapper .result {
    font-size: 24px;
}

.Viewer .match_section .match_list_wrapper .score {
    font-size: 30px;
}


.Viewer .match_section .match_list_wrapper .stadium {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    background-color: rgb(236,236,236);
    width: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    cursor: default;
}



.Viewer .mvp_img_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    gap: 15px;
}

.Viewer .mvp_img_wrapper img {
    max-width: 100%;
    min-height: 100%;
    object-fit: contain;
    background-color: rgb(39,43,58);
    border-radius: 5px;
}

.Viewer .mvp_img_wrapper .playerName{
    font-size: 19px;
    font-family: "KBO_Gothic_light";
}

.Viewer .content_wrapper {
    width: 90%;
    background-color: rgb(236,236,236);
    border-radius: 5px;

    word-break: keep-all;
    overflow-wrap: break-word;
}

.Viewer .content_wrapper > p {
    padding: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 2;
}

.Viewer .food_section {
    display: flex;
    flex-wrap: wrap;  /*줄바꿈허용*/
    gap: 3px;
}

.Viewer .food_section .food_item {
    background-color: rgb(240,240,240);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgb(226,226,226);
    font-size: 15.5px;
    cursor: default;
    transition: background-color 0.2s ease;
    margin-right: 5px;
}

.Viewer .food_section .food_item:hover {
    background-color: rgb(220,220,220);
}