@font-face {
    font-family: "KBO_Gothic_Bold";
    src: url("/KBO Dia Gothic_bold.ttf");
}
@font-face {
    font-family: "KBO_Gothic_light";
    src: url("/KBO Dia Gothic_light.ttf");
}
@font-face {
    font-family: "KBO Dia Gothic_medium";
    src: url("/KBO Dia Gothic_medium.ttf");
}


body *  {
    font-family: "KBO Dia Gothic_medium";
}

html, body{
    margin: 0px;
    width: 100%;
    background-color: rgb(246,246,246);
    display: flex;
}


#root {
    background-color: white;
    max-width: 600px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    box-shadow: rgba(100,100,100,0.2) 0px 0px 29px 0;
    min-height: 100vh;
}
